
.home-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #1f293780;
}


.home-page .page1 {
    min-height: calc(100vh - 70px);
    max-width: 92%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 8rem 2rem;
    position: relative;
    z-index: 10;
    width: 100%;
    text-align: start;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.home-page  h1{
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 1;
    color: white;
    margin-bottom: 1.5rem;

}

.home-page .page1 p {
    font-size: 1.2rem;
    /* color: #d1d5db; */
    margin-bottom: 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    max-width: 42rem;
}

.home-page .page1 .tagline {
    display: inline-flex;
    align-items: center;
    padding: .25rem .75rem;
    border-radius: 25px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    background-color: rgba(31, 41, 55, 0.7);
    color: #22d3ee;
    margin-bottom: 1.5rem;
}

.home-page .page1 .icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.home-page .page1 .buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.home-page .page1 .btn{
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
}

.home-page .page1 .btn-primary{
    background: linear-gradient(to right, #06b6d4, #2563eb);
    color: white;
}

.home-page .page1 .btn-primary:hover {
    background: linear-gradient(to right, #0891b2, #1e40af);
}

.home-page .page1 .btn-secondary {
    background: rgba(31, 41, 55, 0.8);
    border: 1px solid #374151;
    color: white;
}

.home-page .page1 .btn-secondary:hover {
    background: rgba(55, 65, 81, 0.8);
}

.home-page .page1 .floating-blur {
    position: absolute;
    width: 8rem;
    height: 8rem;
    filter: blur(64px);
}

.home-page .page1 .blur-cyan {
    background: #3b82f633;
    bottom: -1.5rem;
    right: -3rem;
}

.home-page .page1 .blur-blue {
    background: #3b82f633;
    top: -1.5rem;
    left: -3rem;
}


.about-us-section {
    /* background-color: #1f293780; */
    width: 100%;
    z-index: 10;
}

.card-page .page {
    max-width: 92%;
    margin: 0 auto;
    padding: 4rem 2rem;
}


.card-page .page .section-header {
    text-align: center;
    margin-bottom: 3rem;
}

.card-page .page .section-header h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1rem;
}

.card-page .page .section-header p {
    font-size: 1.125rem;
    /* color: #d1d5db; */
    max-width: 800px;
    margin: 0 auto;
}




.card-page .grid-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.home-page .card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    cursor:default;
    backdrop-filter: blur(5px);
}

.card:hover {
    transform: translateY(-8px);
    border: 1px solid rgba(0, 198, 255, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 198, 255, 0.4);
    animation: float 1.5s infinite ease-in-out;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}


.card-head{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.home-page .icon-container {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: rgba(6, 182, 212, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
 
.home-page .icon-container svg {
    width: 1.5rem;
    height: 1.5rem;
    color: #06b6d4;
}

.home-page .grid-cards h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700; 
}

.home-page  .card p{
    font-size: .9rem;
    line-height: 1.5rem;
    text-align: left;
    margin-bottom: .5rem;
}


.latest-posts-section {
    /* background-color:  #111827; */
    /* background-color: #1f293780; */
    width: 100%;
    z-index: 10;
}

.image-container img{
    width: 100%;
    height: 200px;
    object-fit: cover;  
    border-radius: 8px;
}

.post-details .post-date {
    font-size: 0.9rem;
    color: #06b6d4;
    margin: .5rem 0;
    font-weight: 500;
}


.latest-posts-section .btn{
    padding: .5rem .8rem;
    font-weight: 500;
    /* margin: auto; */
}

.latest-posts-section .grid-cards h3{
    margin-bottom: 1rem;
}

.explore-us-section {
    /* background-color:  #1f293780; */
    width: 100%;
    z-index: 10;
}

.explore-us-section .grid-cards {
    grid-template-columns: repeat(2,1fr);
}


.card-page.latest-blogs .page .section-header {
    text-align: center;
    margin-bottom: 1rem;
}

.latest-blogs .section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest-blogs .view-all {
    color: #00bcd4;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 1rem;
}

.latest-posts-section .view-post,
.latest-blogs .read-more {
    color: #06b6d4;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    color: #1997aa;
}

.home-page .sponsors{
    /* background-color:  #1f293780; */
    width: 100%;
    z-index: 10;
}

.sponsors .section-header h2{
    font-size: 2.25rem;
}

.sponsor-cards{
    display: flex;
    justify-content: center;
    gap: 4rem ;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.sponsor-cards img{
    height: 8rem;
}


.sponsor-us{
    /* background-color: #1f293780; */
    width: 100%;
}
.sponsor-us .page{
    padding-bottom: 1rem;
}



.section-header h3 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.sponsor-us .section-header p {
    text-align: justify;
}


.sponsor-btn {
    margin-top: 1.5rem;
    display: inline-block;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.375rem;
    background: linear-gradient(90deg, #00bcd4, #1e40af);
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out,background 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
}

.sponsor-btn:hover {
    background: linear-gradient(90deg, #00acc1, #1e3a8a);
    transform: translateY(-2px);
    box-shadow: 0px 0px 10px rgba(0, 198, 255, 0.3);
    
}

.sponsor-btn:focus {
    border: 2px solid black; 
    outline: 2px solid #00bcd4; 
}








@media (max-width: 1280px) {

    .home-page h1 {
        font-size: 3.5rem;
    }
    .home-page .page1 p {
        font-size: 1.15rem;
    }

    .sponsor-cards img {
        height: 7rem;
    }

    
}

@media (max-width: 1024px) {

    .home-page h1 {
        font-size: 3rem;
    }
    .home-page .page1 p {
        font-size: 1.1rem;
    }

    .card-page .grid-cards {
        gap: 1.1rem
    }

    .image-container img {
        height: 160px;
    }

    .home-page .grid-cards h3 {
        font-size: 1.125rem;
    }

    .home-page .card {
        padding: 1.1rem;
    }
    
}

@media (max-width: 800px) {

    .outer-container {
        left: 0%;
        transform: translateX(0);
    }

    .home-page .page1,
    .card-page .page {
        max-width: 96%;
    }

    .home-page h1{
        font-size: 2.25rem;
    }
    .home-page .page1 p {
        font-size: 1rem;
    }

    .sponsor-cards img {
        height: 6rem;
    }

    .card-page .page .section-header h2 {
        font-size: 1.8rem;
    }

    .section-header h3 {
        font-size: 1.5rem;
    }

    .card-page .page .section-header p {
        font-size: 1rem;
    }

    
    .card-page .grid-cards {
        grid-template-columns: auto auto;
    }
    
    .about-us-section.card-page .grid-cards,
    .explore-us-section.card-page .grid-cards{
        gap: 1.5rem;
        grid-template-columns: auto;
    }
    

}

@media (max-width: 500px) {

    .home-page .page1, .card-page .page {
        max-width: 100%;
    }

    .home-page h1 {
        font-size: 1.75rem;
    }

    .home-page .page1 p {
        font-size: 0.9rem;
    }

    .card-page .grid-cards {
        grid-template-columns: auto;
        gap: 1.5rem;
    }

    .home-page .card {
        padding: 1.3rem;
    }

    .image-container img {
        height: 200px;
    }

}

@media (max-width: 380px) {
    
    .home-page h1 {
        font-size: 1.5rem;
    }

    .home-page .page1 p {
        font-size: 0.85rem;
    }
}
