
.about-page {
    width: 100%;
}


.about-page .container{
    color: #ffffff;
    background-color: #1f293780;
}

.about-page p{
    color: #d1d5db;
    color: white;
}


.about-page .frontpage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    position: relative;
    max-width: 48rem;
}

.about-page h1.title {
        font-size: 2.5rem;
        font-family: 'Times New Roman', Times, serif;
        max-width: 90vw;
        font-weight: 800;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        text-align: center;
}




.about-page .details {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 100%;
    text-align: center;
    font-size: 1.25rem;
    opacity: 90%;
    font-weight: 400;
    
}



.about-page .page{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 4rem 0rem;
    max-width: 48rem;
    margin: auto;
    position: relative;
}

.about-page h2.subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.875rem;
    line-height: 2.25rem;
    max-width: 90vw;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

.about-page .page2 p.details  {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
    text-align: justify;
}

.about-page .grid-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.about-page  .card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    cursor:default;
}

.card:hover {
    transform: translateY(-8px);
    border: 1px solid rgba(0, 198, 255, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 198, 255, 0.4);
    animation: float 1.5s infinite ease-in-out;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}


.about-page .card-head {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.about-page .icon-container {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: rgba(6, 182, 212, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
 
.about-page .icon-container svg {
    width: 1.25rem;
    height: 1.25rem;
    color: #06b6d4;
}

.about-page .card-head h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700; 
}

.about-page  .card p{
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
}


.about-page .history-lane{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
}

.about-page .page-line{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    width: 0.25rem; 
    background-color: #4b5563; 
}


.about-page .history-carddeck{
    position: relative;
  display: flex;
  align-items: flex-start;
}

.about-page .history-carddeck:nth-child(even){
    flex-direction: row-reverse;
}

.about-page .history-carddeck:nth-child(even) .small-line{
    left: 52%;
}

.about-page .small-line{
    width: 2rem;
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    height: 4px;
    background-color: #4b5563;
}

.about-page .outer-container {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
    z-index: 10;
}

  .about-page .circle {
    width: 32px;
    height: 32px;
    background-color: #06b6d4; 
    border-radius: 50%;
    border: 4px solid #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
  }
  
  .about-page .inner-circle {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
  }
  

.about-page .history-card{
    z-index: 10;
    width: 46%;
}



.about-page .card{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    cursor: default;
    backdrop-filter: blur(5px);
}

.about-page .history-card  .year {
    color: #06b6d4; 
    font-weight: bold;
    margin-bottom: 8px;
  }
  
.about-page .history-card  .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
.about-page .history-card .blank{
    width: 50%;
}

.about-page .misson-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}


.about-page .page4 .misson-grid .card h3{
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about-page .page5 .achivement-card{

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.about-page .page5 .achivement-card .a-card{
    background-color: #1f2937;
    border-radius: .5rem;
    padding: 1.5rem;
    border: 1px solid #374151;
}

.about-page .join-btn{
    margin-top: 2.2rem;
    text-align: center;
    
}

.about-page .join-club-btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.375rem;
    background: linear-gradient(90deg, #00bcd4, #1e40af);
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out,background 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
}

.about-page .join-club-btn:hover {
    background: linear-gradient(90deg, #00acc1, #1e3a8a);
    transform: translateY(-2px);
    box-shadow: 0px 0px 10px rgba(0, 198, 255, 0.3);
    
}

.about-page .join-club-btn:focus {
    border: 2px solid black; 
    outline: 2px solid #00bcd4; 
}



.about-page .page7{
    max-width: 68rem;
}

.about-page .profile-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: 3rem auto;
    max-width: 90vw;

}



.about-page .profile-card {
    background-color: rgb(31, 41, 55);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #555;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-page .profile-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.about-page .profile-img {
    width: 100%;
    height: 200px;
    object-fit: cover;  
}

.about-page .profile-info {
    padding: 16px;
}

.about-page .profile-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 8px;
}

.about-page .profile-roll,
.about-page .profile-department {
    color: #00bcd4;
    margin-bottom: 4px;
    font-size: 0.9rem;
    font-weight: 500;
}

.about-page .profile-department {
    color: #d1d5db;
    font-weight: 400;
}


@media (max-width: 1024px) {

    .about-page .page7{
        max-width: 48rem;
        padding: 4rem 1rem;
    }

    .about-page .profile-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .about-page .profile-img {
        width: 100%;
        height: 200px;
        object-fit: cover;  
    }    
    
}

@media (max-width: 800px) {
    

    .outer-container {
        left: 0%;
        transform: translateX(0);
    }

    .about-page h1.title {
        font-size: 2rem;
        text-align: center;
    }
    .about-page .details {
        font-size: 1.18rem;
    }

    .about-page h2.subtitle {
        font-size: 1.7rem;
    }

    .about-page .grid-cards {
        grid-template-columns: 1fr;
    }

    .about-page .history-carddeck {
        flex-direction: row-reverse;
    }
    .about-page .page-line{
        left: 0;
    }
    .about-page .outer-container {
        left: 0;
    }

    .about-page .small-line ,
    .about-page .history-carddeck:nth-child(even) .small-line{
        left: 0;
        transform: translate(0%, -50%);
        width: 10rem;
    }

    .about-page .history-card {
        width: 80%;
    }
    .about-page .misson-grid {
        grid-template-columns:  1fr;
    }
    

    .about-page .frontpage , .about-page .page , .about-page .page7 {
        max-width: 640px;
        padding: 3rem 2rem;
    }

    .about-page .profile-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }

}

@media (max-width: 500px) {
    
    .about-page .history-card {
        width: 92%;
    }
    .about-page .profile-grid {
        grid-template-columns: 1fr;
    }

    .about-page .profile-card {
        max-width: 16rem;
        margin: auto;
    }

}

@media (max-width: 380px) {
   

    .about-page .blank,
    .about-page .small-line ,
    .about-page .history-carddeck:nth-child(even) .small-line{
        display: none;
    }

    .about-page .outer-container{
        top: 0;
        left: 50%;
        transform: translate(-50% , -50%);
        z-index: 50;
    }

    .about-page .history-carddeck:first-child .outer-container{
        display: none;
    }

    .about-page .history-lane {
        gap: 3rem;
    }

    .about-page .history-card {
        width: 100%;
    }

    .about-page .page-line{
        left: 50%;
    }

    
}
